.list-container{
	margin: 10px 0 0 0;
}
.list{
	background: #30455a;
	padding: 3px 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;		
}
.com-new{
	margin-top: 0;
}
.com-new .new-container{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.list-other{
	padding: 5px 0;
	line-height: 20px;
	color: #ccc;
}
.list-other a{
	color: #4daba7;
	margin-left: 20px;
}
